services:
  openbmp:
    image: openbmp/collector:latest
    container_name: openbmp
    ports:
      - target: 1790
        published: 1790
    volumes:
      - type: bind
        source: ./servers/openbmp/openbmpd.conf
        target: /usr/etc/openbmp/openbmpd.conf
    environment:
      KAFKA_FQDN: kafka:9092
    networks:
      clab-bmp:
        ipv4_address: 100.64.1.179
      bmp:

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      bmp:
      
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LOG_RETENTION_HOURS: 12
    networks:
      bmp:
 
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - target: 3000
        published: 3000
    volumes:
      - type: bind
        source: ./servers/grafana/grafana.ini
        target: /etc/grafana/grafana.ini
      - type: bind
        source: ./servers/grafana/datasources
        target: /etc/grafana/provisioning/datasources
      - type: bind
        source: ./servers/grafana/dashboards
        target: /etc/grafana/provisioning/dashboards
    networks:
      bmp:
 
  kibana:
    image: docker.elastic.co/kibana/kibana:8.8.1
    container_name: kibana
    ports:
      - target: 5601
        published: 5601
    environment:
      SERVER_HOST: 0.0.0.0
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
    networks:
      bmp:
 
  
  logstash:
    image: docker.elastic.co/logstash/logstash:8.8.1
    container_name: logstash
    volumes:
      - type: bind
        source: ./servers/logstash/config
        target: /usr/share/logstash/config
      - type: bind
        source: ./servers/logstash/pipelines
        target: /usr/share/logstash/pipelines
    networks:
      bmp:
    
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.8.1
    container_name: elasticsearch
    environment:
      cluster.name: bmp
      node.name: es-01
      discovery.type: single-node
      xpack.security.enabled: false
      ES_JAVA_OPTS: "-Xms2g -Xmx2g"
    networks:
      bmp:

networks:
  clab-bmp:
    name: clab-bmp
    attachable: true
    driver: bridge
    ipam:
      config:
        - subnet: 100.64.1.0/24
          ip_range: 100.64.1.0/24
          gateway: 100.64.1.1
  bmp: